<footer class="footer">
	<div class="container">
		<div class="footer__wrap row">
			<div class="footer__column col">
				<div class="footer__links">
					<ul class="links-list">
						<li class="links-item"><a href="#" class="links-link">О нас</a></li>
						<li class="links-item"><a href="#" class="links-link">Новости</a></li>
						<li class="links-item"><a href="#" class="links-link">Аренда</a></li>
						<li class="links-item"><a href="#" class="links-link">Контакты</a></li>
						<li class="links-item"><a href="#" class="links-link">Вакансии</a></li>
					</ul>
				</div>
				<a href="#" class="button">Пройти тест</a>
			</div>
			<div class="footer__column col">
				<div class="footer__links">
					<ul class="links-list">
						<li class="links-item"><a href="#" class="links-link">Стоимость</a></li>
						<li class="links-item"><a href="#" class="links-link">Компаниям</a></li>
						<li class="links-item"><a href="#" class="links-link">Английский с нуля</a></li>
						<li class="links-item"><a href="#" class="links-link">Разговорный английский</a></li>
						<li class="links-item"><a href="#" class="links-link">Английский для бизнеса</a></li>
						<li class="links-item"><a href="#" class="links-link">Английский для школьников</a></li>
						<li class="links-item"><a href="#" class="links-link">Английский для экзаменов </a></li>
						<li class="links-item"><a href="#" class="links-link">Английский с носителем</a></li>
					</ul>
				</div>
			</div>
			<div class="footer__column col">
				<ul class="links-list">
					<li class="links-item"><a href="#" class="links-link">SpeakEasy</a></li>
					<li class="links-item"><a href="#" class="links-link">F.A.Q.</a></li>
				</ul>
				<ul class="links-list">
					<li class="links-item"><a href="tel:+375291822611" class="links-link">+375 29 182-26-11</a></li>
					<li class="links-item"><a href="tel:+375291822621" class="links-link">+375 29 182-26-21</a></li>
					<li class="links-item"><a href="tel:+375291822644" class="links-link">+375 29 182-26-44 (компаниям)</a></li>
				</ul>
				<ul class="links-list">
					<li class="links-item"><a href="#" class="links-link"></a></li>
					<li class="links-item"><a href="mailto:speak@online-class.by" class="links-link">speak@online-class.by</a>
					</li>
				</ul>
			</div>
			<div class="footer__column col">
				<div class="socials">
					<ul class="socials__list">
						<li class="socials__item">
							<a href="#" class="socials__link"><i class="fa fa-vk"></i></a>
						</li>
						<li class="socials__item">
							<a href="#" class="socials__link"><i class="fa fa-facebook"></i></a>
						</li>
						<li class="socials__item">
							<a href="#" class="socials__link"><i class="fa fa-instagram"></i></a>
						</li>
						<li class="socials__item">
							<a href="#" class="socials__link"><i class="fa fa-youtube"></i></a>
						</li>
					</ul>
					<div class="socials__caption">Куча интересного тут:</div>
				</div>
			</div>
		</div>
	</div>
</footer>
</div>
<!-- End of Wrapper -->
<!-- Popup block -->
<div class="hidden">
	<div id="popup_registration" class="popup">
		<div class="popup__body">
			<div class="popup__content">
				<div class="popup__title">
					<h3>Регистрация</h3>
				</div>
				<div class="popup__text">
					<form action="#" class="form">
						<div class="form__group">
							<div class="form__label">Ваше имя</div>
							<input class="form__field" type="text" name="Name">
							<div class="form__label">Фамилия</div>
							<input class="form__field" type="text" name="Company">
							<div class="form__label">E-mail</div>
							<input class="form__field" type="email" name="Email">
							<div class="form__label">Телефон</div>
							<input class="form__field" type="tel" name="Phone">
							<div class="form__label">Пароль</div>
							<input class="form__field" type="password" name="Password">
						</div>
						<div class="form__group">
							<div class="form__footer">
								<span class="form__group form__group-agreement">Нажимая кнопку «Зарегистрироваться» Вы соглашаетесь
									с политикой конфиденциальности сайта
								</span>
								<input class="button" type="submit" value="зарегистрироваться">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>



	<div id="popup_connect" class="popup">
		<div class="popup__body">
			<div class="popup__content">
				<div class="popup__title">
					<h3>Связаться</h3>
				</div>
				<div class="popup__text">
					<form action="#" class="form">
						<div class="form__group">
							<div class="form__label">Ваше имя</div>
							<input class="form__field" type="text" name="Name">
							<div class="form__label">E-mail</div>
							<input class="form__field" type="email" name="Email">
							<div class="form__label">Телефон</div>
							<input class="form__field" type="tel" name="Phone">
							<div class="form__label">Сообщение</div>
							<textarea class="form__field" rows="4"></textarea>
						</div>
						<div class="form__group">
							<div class="form__footer">
								<span class="form__group form__group-agreement">Нажимая кнопку «Отправить» Вы соглашаетесь с политикой
									конфиденциальности сайта
								</span>
								<input class="button" type="submit" value="Отправить">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- End of Popup block -->

<script src="js/libs.min.js"></script>
<script src="js/main.js"></script>