<div class="wrapper">
	<header class="header">
		<div class="container">
			<div class="header__body">
				<a href="/index.html" class="header__logo">
					<img src="../img/logo.svg" alt="logo">
				</a>
				<div class="header__panel">
					<div class="header__panel_wrapper">
						<nav class="header__menu">
							<ul class="header__list">
								<div class="header__menu-item"><a href="/about-us.html" class="header__link">О нас</a></div>
								<div class="header__menu-item"><a href="/blog.html" class="header__link">Новости</a></div>
								<div class="header__menu-item parent-menu-item">
									<a href="/course.html" class="header__link">Курсы и цены</a>
									<div class="submenu">
											<a href="/companies.html" class="header__link">Компаниям</a>
											<a href="/payment.html" class="header__link">Оплата</a>
											<a href="/vacancy.html" class="header__link">Вакансии</a>
									</div>
								</div>
								<div class="header__menu-item"><a href="/rent.html" class="header__link">Аренда</a></div>
								<div class="header__menu-item"><a href="/contacts.html" class="header__link">Контакты</a></div>
						</ul>
						</nav>
						<a href="#" class="button">Бесплатный урок</a>
						<div class="header__actions">
							<div class="header__actions_item">
								<a href="#" class="login">Войти</a>
							</div>
						</div>
					</div>
				</div>

				<div class="header__actions">
					<div class="header__actions_item">
						<a href="#" class="login"></a>
					</div>



					<div class="header__actions_item header__actions_item-lang">
						<div class="language-selector__container">
							<label>
							 <select class="js_language_selector">
								 <option value="#">RU</option>
								 <option value="#">EN</option>
							 </select>
						 </label>
					 </div>
					</div>




				</div>
				<div  id="header__burger" class="header__burger">
					<span></span>
				</div>
			</div>
		</div>
	</header>

